# Ignore some top-level directories
/.vscode/
/Include/
/Lib/
/Scripts/
/venv/

# Ignore all pycache folders recursively
__pycache__/
*.egg-info/

# Ignore all coverage and venv files recursively
.coverage
pyvenv.cfg
.pytest_cache
